.jumbotron
{
    color: whitesmoke;
    background-image: url(..//images/mainPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

}